#body {
  background-image: url('./pexels-photo-988872.jpeg');
  background-size: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.welcome {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;

}
.header-background {
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
.user-name {
  display: flex;
  flex: 0;
}
.header-button{
  display: flex;
}
.form{
  display: flex;

}
.basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
